<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>rico&barato</title>
  <link rel="icon" href="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/fig-app/logo_vruab2.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Proyecto mobile" />
  <meta name="keywords" content="desarrollado en flutter, android y apple" />
  <meta name="author" content="dev.suero" />

  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />
  <meta name="google-site-verification" content="SNZQBYu1TF6UIyKtRBAmhUoLbVQtx3Nutux_g0LY4M0" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

  <!-- Animate.css -->
  <link rel="stylesheet" href="css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="css/icomoon.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="css/bootstrap.css">

  <!-- Flexslider  -->
  <link rel="stylesheet" href="css/flexslider.css">

  <link rel="stylesheet" href="css/style.css">


  <!-- Modernizr JS -->
  <script src="js/modernizr-2.6.2.min.js"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>
<body>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JJNVJE8BQB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JJNVJE8BQB');
</script>
<nav id="fh5co-main-nav" role="navigation">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle active"><i></i></a>
  <div class="js-fullheight fh5co-table">
    <div class="fh5co-table-cell js-fullheight">
      <h1 class="text-center"><a class="fh5co-logo" href="index.html">Words</a></h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <!--
        <li><a href="work.html">Work</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="about.html">About</a></li>
        -->
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <p class="fh5co-social-icon">
        <a href="#"><i class="icon-twitter2"></i></a>
        <a href="https://www.facebook.com/sabeseresmuyespecialparami/"><i class="icon-facebook2"></i></a>
        <a href="#"><i class="icon-instagram"></i></a>
        <a href="https://www.tiktok.com/@ricoybarato2024?is_from_webapp=1&sender_device=pc"><i class="icon-dribbble2"></i></a>
        <a href="https://www.youtube.com/@RicoBarato"><i class="icon-youtube"></i></a>
      </p>
    </div>
  </div>
</nav>

<div id="fh5co-page">
  <header>
    <div class="container">
      <div class="fh5co-navbar-brand">
        <div class="row">
          <div class="col-xs-6">
            <h1 class="text-left"><a class="fh5co-logo" href="index.html"><span>Peru</span> Rico & Barato <span>Tingo Maria</span></a></h1>
          </div>
          <div class="col-xs-6">
            <p class="fh5co-social-icon text-right">
              <a href="#"><i class="icon-twitter2"></i></a>
              <a href="#"><i class="icon-facebook2"></i></a>
              <a href="#"><i class="icon-instagram"></i></a>
              <a href="#"><i class="icon-dribbble2"></i></a>
              <a href="#"><i class="icon-youtube"></i></a>
            </p>
          </div>
        </div>
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
      </div>
    </div>
  </header>
  <aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
      <ul class="slides">
        <li style="background-image: url(https://res.cloudinary.com/dqblumv7r/image/upload/v1707599742/landing-rico-barato/figure-home/desarrollo_jjgtyu.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container">
            <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <span id="fecha-actual"></span>
                  <h2>Resolviendo tus problemas</h2>
                  <p>Nos hemos esforzado en crear esto pensando en ti y en tu economía, con el objetivo de que puedas ahorrar en cada comida.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(https://res.cloudinary.com/dqblumv7r/image/upload/v1707599745/landing-rico-barato/figure-home/uso_qxije6.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container">
            <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <span id="fecha-actual"></span>
                  <h2>Busca tu mejor opcion</h2>
                  <p>Encuentra la comida que se adapte a tus gustos, basándote en las reseñas y comentarios de otros usuarios.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li style="background-image: url(https://res.cloudinary.com/dqblumv7r/image/upload/v1707599744/landing-rico-barato/figure-home/jove-comiendo_w9bqc8.jpg);">
          <div class="overlay-gradient"></div>
          <div class="container">
            <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
              <div class="slider-text-inner">
                <div class="desc">
                  <span id="fecha-actual"></span>
                  <h2>Disfruta</h2>
                  <p>No te llevarás sorpresas y podrás disfrutar plenamente de cada comida, con la tranquilidad de saber exactamente qué estás recibiendo.</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </aside>
  <div id="fh5co-intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box text-center">
          <h2 class="intro-heading">Aplicativo mobile</h2>
          <p><span>Creado con Flutter <a href="https://flutter.dev/">flutter.dev</a></span></p>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-featured">
    <div class="container-fluid">
      <div class="row">
        <div class="post-entry">
          <div class="col-md-6 col-md-push-6 nopaddingbottom animate-box">
            <div class="post-image" style="background-image: url(https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/fig-app/isologo_qtrlhz.png);"></div>
          </div>
          <div class="col-md-6 col-md-pull-5 animate-box">
            <div class="display-tc">
              <div class="desc">
                <span class="date">Jan 06, 2016</span>
                <h3>Version Preliminar</h3>
                <p>Esta es una versión beta funcional de la aplicación. Todo está bajo control, así que no dudes en probarla.</p>
                <a href="apk/app-release.apk" download>
                  <button>Descargar</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-about">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Equipo de desarrollo</h2>
          <p>Nos enorgullece presentar al talentoso equipo de desarrollo que está detrás de nuestro proyecto. Con una pasión compartida por la innovación y la excelencia técnica, cada miembro aporta habilidades únicas y experiencia invaluable a nuestro equipo.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/equipo-dev/yonil_xmtana.jpg" alt="Free HTML5 Templates by freeHTML5.co">
            <h3>Yonil Rojas</h3>
            <strong class="role">CEO, dev mobile, Web developer</strong>
            <p>Es responsable del desarrollo de la aplicación móvil y de ofrecer diversos servicios adicionales.</p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-twitter2"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-dribbble2"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/equipo-dev/igor_c5invz.jpg" alt="Free HTML5 Templates by freeHTML5.co">
            <h3>Igor Ramos</h3>
            <strong class="role">Web developer, Marketing</strong>
            <p>Se encarga de proporcionar diversos servicios y de gestionar las actividades de marketing para el proyecto.</p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-twitter2"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-dribbble2"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/equipo-dev/alvaro_JS_ljcwna.jpg" alt="Free HTML5 Templates by freeHTML5.co">
            <h3>Alvaro JS</h3>
            <strong class="role">Analista, Marketing y Soporte</strong>
            <p>Se encarga de la gestión de datos y de monitorear las áreas de oportunidad del proyecto.</p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-twitter2"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-dribbble2"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
          <div class="fh5co-staff">
            <img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/equipo-dev/paucar_lvq8ih.jpg" alt="Free HTML5 Templates by freeHTML5.co">
            <h3>Paucar Palomino</h3>
            <strong class="role">Asesor </strong>
            <p>se encarga de brindar información pertinente al proyecto</p>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="icon-twitter2"></i></a></li>
              <li><a href="#"><i class="icon-facebook2"></i></a></li>
              <li><a href="#"><i class="icon-instagram"></i></a></li>
              <li><a href="#"><i class="icon-dribbble2"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>Contenido reciente</h2>
          <p>Aquí encontrarás noticias actualizadas sobre el proyecto y cómo progresa día a día.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/blog/entrev_d4djtw.png" alt=""></a>
            <div class="blog-text">
              <span class="posted_on">Ene. 03th</span>
              <span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
              <h3><a href="#">Aceptacion de los usarios</a></h3>
              <p>En esa fecha se llevó a cabo una pequeña encuesta sobre la aceptación del producto y la mayoría la consideró útil.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599742/landing-rico-barato/blog/graficas_zwukfe.png" alt=""></a>
            <div class="blog-text">
              <span class="posted_on">Feb. 1th</span>
              <span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
              <h3><a href="#">Interes por la aplicaion</a></h3>
              <p>Recientemente, se lanzó una página de destino para rastrear el número de personas que ingresaban en la app.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#"><img class="img-responsive" src="https://res.cloudinary.com/dqblumv7r/image/upload/v1707599743/landing-rico-barato/fig-app/isologo_qtrlhz.png" alt=""></a>
            <div class="blog-text">
              <span class="posted_on">Fev. 7th</span>
              <span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
              <h3><a href="#">Lanzamiento Funcional</a></h3>
              <p>Debido a la complejidad de la aplicación, la creación del prototipo funcional ha tomado más tiempo de lo esperado. Actualmente, estamos a la espera de la retroalimentación de los usuarios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Este es un comentario en HTML.
      <div id="fh5co-work-section">
        <div class="container">
          <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
              <h2>Otros Proyectos</h2>
              <p>Estos proyectos están siendo recién abordados y están integrando los requisitos de los usuarios.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center animate-box">
              <div class="work" style="background-image: url(images/img-1.jpg);">
                <a href="#" class="view">
                  <span>View Demo</span>
                </a>
              </div>
            </div>
            <div class="col-md-8 text-center animate-box">
              <div class="work" style="background-image: url(images/img-2.jpg);">
                <a href="#" class="view">
                  <span>View Demo</span>
                </a>
              </div>
            </div>
            <div class="col-md-7 text-center animate-box">
              <div class="work" style="background-image: url(images/img-3.jpg);">
                <a href="#" class="view">
                  <span>View Demo</span>
                </a>
              </div>
            </div>
            <div class="col-md-5 text-center animate-box">
              <div class="work" style="background-image: url(images/img-4.jpg);">
                <a href="#" class="view">
                  <span>View Demo</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

       -->

  <div class="fh5co-counters" style="background-image: url(https://res.cloudinary.com/dqblumv7r/image/upload/v1707600930/landing-rico-barato/img-default/hero_qc8lsj.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
    <div class="fh5co-narrow-content animate-box">
      <div class="row" >
        <div class="col-md-4 text-center">
          <span class="fh5co-counter js-counter" data-from="0" data-to="1" data-speed="5000" data-refresh-interval="50"></span>
          <span class="fh5co-counter-label">Project</span>
        </div>
        <div class="col-md-4 text-center">
          <span class="fh5co-counter js-counter" data-from="0" data-to="5450" data-speed="5000" data-refresh-interval="50"></span>
          <span class="fh5co-counter-label">Clients</span>
        </div>
        <div class="col-md-4 text-center">
          <span class="fh5co-counter js-counter" data-from="0" data-to="6876" data-speed="5000" data-refresh-interval="50"></span>
          <span class="fh5co-counter-label">Satisfied Client</span>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="section-title">About Words</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
          </div>

          <div class="col-md-3 col-md-push-1">
            <h3 class="section-title">Links</h3>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Work</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">FAQ / Contact</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h3 class="section-title">Information</h3>
            <ul>
              <li><a href="#">Terms &amp; Condition</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Privacy &amp; Policy</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3 class="section-title">Newsletter</h3>
            <p>Subscribe for our newsletter</p>
            <form class="form-inline" id="fh5co-header-subscribe">
              <div class="row">
                <div class="col-md-12 col-md-offset-0">
                  <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Enter your email">
                    <button type="submit" class="btn btn-default"><i class="icon-paper-plane"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row copy-right">
          <div class="col-md-6 col-md-offset-3 text-center">
            <p class="fh5co-social-icon">
              <a href="#"><i class="icon-twitter2"></i></a>
              <a href="#"><i class="icon-facebook2"></i></a>
              <a href="#"><i class="icon-instagram"></i></a>
              <a href="#"><i class="icon-dribbble2"></i></a>
              <a href="#"><i class="icon-youtube"></i></a>
            </p>
            <p>Copyright 2024 <a href="#">Rico & Barato</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

</div>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Counters -->
<script src="js/jquery.countTo.js"></script>
<!-- Flexslider -->
<script src="js/jquery.flexslider-min.js"></script>

<!-- Main JS (Do not remove) -->
<script src="js/main.js"></script>
<script src="js/fechaActual.js"></script>
</body>
</html>

