/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --c-p-white: #FFFFFF;
    --c-p-black: #212121;

    --c-white: #F8FAFC;
    --c-mono-10: #E2E8F0;
    --c-mono-30: #94A3B8;
    --c-mono-70: #475569;
    --c-mono-100: #1E293B;
    --c-black: #0F172A;

    // COMFANDI
    /*--c-brand-d-3: #063560;
    --c-brand-d-2: #095090;
    --c-brand-d-1: #0c6ac0;
    --c-brand-1: #0075D2;
    --c-brand-2: #1970b7;
    --c-brand-l-1: #3f9df3;
    --c-brand-l-2: #6fb6f6;
    --c-brand-l-3: #b3ccea;*/

    //INDRA
    --c-brand-d-3: #001C24;
    --c-brand-d-2: #002833;
    --c-brand-d-1: #003442;
    --c-brand-1: #004153;
    --c-brand-2: #004153;
    --c-brand-l-1: #005870;
    --c-brand-l-2: #00708F;
    --c-brand-l-3: #0088AD;

    --c-alert-error-l: #df6534;
    --c-alert-success-l: #2ABB54;
    --c-alert-info-l: #0075BC;
    --c-alert-warning-l: #F0B323;

    --c-alert-error-d: #df6534;
    --c-alert-success-d: #1C7D38;
    --c-alert-info-d: #0075BC;
    --c-alert-warning-d: #F0B323;
  }

  .theme-light {
    --c-pure-white: var(--c-p-white);
    --c-pure-black: var(--c-p-black);

    --c-fl-white: var(--c-white);
    --c-fl-mono-10: var(--c-mono-10);
    --c-fl-mono-30: var(--c-mono-30);
    --c-fl-mono-70: var(--c-mono-70);
    --c-fl-mono-100: var(--c-mono-100);
    --c-fl-black: var(--c-black);

    --c-fl-brand-d-3: var(--c-brand-d-3);
    --c-fl-brand-d-2: var(--c-brand-d-2);
    --c-fl-brand-d-1: var(--c-brand-d-1);

    --c-fl-brand-1: var(--c-brand-1);
    --c-fl-brand-2: var(--c-brand-2);
    --c-fl-brand-l-1: var(--c-brand-l-1);

    --c-fl-brand-l-2: var(--c-brand-l-2);
    --c-fl-brand-l-3: var(--c-brand-l-3);
    --c-fl-alert-error: var(--c-alert-error-d);

    --c-fl-alert-success: var(--c-alert-success-d);
    --c-fl-alert-info: var(--c-alert-info-d);
    --c-fl-alert-warning: var(--c-alert-warning-d);
  }
}

@layer utilities {
  .theme-dark {
    --c-pure-white: var(--c-p-black);
    --c-pure-black: var(--c-p-white);

    --c-fl-white: var(--c-black);
    --c-fl-mono-10: var(--c-mono-100);
    --c-fl-mono-30: var(--c-mono-70);
    --c-fl-mono-70: var(--c-mono-30);
    --c-fl-mono-100: var(--c-mono-10);
    --c-fl-black: var(--c-white);

    --c-fl-brand-d-3: var(--c-brand-l-3);
    --c-fl-brand-d-2: var(--c-brand-l-2);
    --c-fl-brand-d-1: var(--c-brand-l-1);

    --c-fl-brand-1: var(--c-brand-l-2);
    --c-fl-brand-2: var(--c-brand-l-2);

    --c-fl-brand-l-1: var(--c-brand-d-1);
    --c-fl-brand-l-2: var(--c-brand-d-2);
    --c-fl-brand-l-3: var(--c-brand-d-3);

    --c-fl-alert-error: var(--c-alert-error-l);
    --c-fl-alert-success: var(--c-alert-success-l);
    --c-fl-alert-info: var(--c-alert-info-l);
    --c-fl-alert-warning: var(--c-alert-warning-l);
  }
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/MaterialIcons-Regular.ttf') format('truetype')
}

.font-icon {
  font-family: 'Material Icons', sans-serif;
}

.t-h1 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 300;
  font-size: 6rem;
  line-height: 8rem;
}

.t-h2 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 300;
  font-size: 4rem;
  line-height: 5rem;
}

.t-h3 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
}

.t-h4 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
}

.t-h5 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.t-subtitle-1 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-subtitle-2 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-body-1 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-body-2 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.t-body-2-medium {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.t-button-1 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.t-button-2 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.t-caption-1 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
}

.t-caption-2 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 1rem;
  ///flex-wrap: wrap;/
}

.t-caption-3 {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 400;
  font-size: 10px;
  line-height: 8px;
}

.t-overline {
  font-family: Inter, Arial, "PT Sans";
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 1rem;
  letter-spacing: 0.05rem;
}


@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
}

/* Header & Footer */

.ec-header {
  @apply fixed bg-white top-0 w-screen h-12 border-b border-mono-30 flex justify-between items-center pr-6 md:pr-12 lg:pr-12 xl:pr-16 2xl:pr-24 relative
}

.ec-footer {
  @apply w-screen h-20 bottom-0 bg-mono-10 flex justify-between items-center px-12 pr-6 md:pr-12 lg:pr-12 xl:pr-16 2xl:pr-24
}

/* Inputs */

.input {
  @apply flex flex-col space-y-1
}

label {
  @apply t-caption-2 text-mono-70
}

.input-style {
  @apply px-2 h-10 t-body-1 text-black bg-white border border-mono-30 rounded focus:outline-none focus:ring-1 focus:ring-blue-500 disabled:text-mono-30;
}

.input-head {
  @apply flex items-center space-x-1 text-brand-2
}

/* Buttons */

button {
  @apply h-12 px-4 rounded flex flex-row items-center justify-center space-x-2 t-button-1
}

button:disabled {
  @apply text-mono-10 border border-mono-10 bg-transparent cursor-default
}

.b-solid {
  @apply t-button-1 text-white bg-brand-2
}

.b-outline {
  @apply t-button-1 text-brand-2 border border-brand-2
}

.b-ghost {
  @apply t-button-1 text-brand-2
}

.b-solid:hover, .b-outline:hover, .b-ghost:hover {
  @apply bg-brand-d-1 text-white
}

.gutter {
  @apply bg-mono-30 bg-no-repeat;
  background-position: 50%;
  order: 2;
}

.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

::-webkit-scrollbar {
  @apply w-3 h-3
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-mono-30
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-mono-70
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-mono-70
}

.ec-container {
  @apply px-6 md:px-12 lg:px-16 2xl:px-24
}

.ec-container-workflow {
  @apply px-6 md:px-12 lg:px-4
}

/* Complements */
.border-input {
  @apply border border-mono-30 rounded h-10 text-black
}

/* Combo */
.container-combo {
  @apply border border-mono-30 rounded text-black absolute top-10 left-0 bg-white w-full z-50
}

.option-combo {
  @apply flex-grow p-2 bg-white
}

.option-combo:hover {
  @apply bg-white-p
}

.toast-item-container {
  z-index: 1113 !important;
}

.toast-container {
  z-index: 1113 !important;
}

svg {
  @apply fill-current;
}

.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: #111111ee;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

*:disabled {
  pointer-events: none;
}

.b-solid:disabled, .b-outline:disabled, .b-ghost:disabled {
  @apply bg-mono-10 text-mono-30
}

.let {
  text-transform: lowercase;
}

.let::first-letter {
  text-transform: uppercase;
}

.let-p p {
  text-transform: lowercase;
}

.let-p p:first-letter {
  text-transform: uppercase;
}

/*EC-TABLE STYLE*/
.ec-table {
  @apply bg-white-p text-mono-70 rounded;
}

.ec-table thead {
  @apply rounded-t;
}

.ec-table tbody {
  @apply rounded-b;
}

.ec-table thead th {
  @apply bg-white-p t-caption-2 text-brand-1 hover:bg-brand-l-3 cursor-pointer;
}

.ec-table tbody tr {
  @apply border-t border-mono-30 t-body-2 hover:bg-mono-10;
}

.ec-table td,
.ec-table th {
  @apply px-4 py-2 text-left;
}

.ec-table thead th div {
  @apply flex items-center space-x-2;
}

/*END EC-TABLE STYLE*/

/*ec-table-rebalancing*/
.ec-table-rebalancing {
  @apply bg-white-p text-mono-70 rounded;
}

.ec-table-rebalancing thead {
  @apply rounded-t;
}

.ec-table-rebalancing tbody {
  @apply rounded-b;
}

.ec-table-rebalancing thead th {
  @apply bg-white-p t-caption-2 text-brand-1 hover:bg-brand-l-3 border-b border-mono-30;
}

.ec-table-rebalancing tbody tr {
  @apply border-b border-mono-30 t-body-2 hover:bg-mono-10;
}

.ec-table-rebalancing td,
.ec-table-rebalancing th {
  @apply px-4 py-2 text-left;
}

.ec-table-rebalancing tbody tr:nth-child(odd) {
  @apply bg-white hover:bg-mono-10;
}

.ec-table-rebalancing thead th div {
  @apply flex items-center space-x-2;
}

/*END ec-table-rebalancing*/


/*ec-table-report*/
.ec-table-report {
  @apply bg-white-p rounded;
}

.ec-table-report thead {
  @apply rounded-t;
}

.ec-table-report tbody {
  @apply rounded-b text-black;
}

.ec-table-report thead th {
  @apply bg-white-p t-caption-2 text-brand-1 hover:bg-brand-l-3 cursor-pointer;
}

.ec-table-report tbody tr {
  @apply border-t border-mono-10 t-body-2-medium;
}

.ec-table-report tbody tr:nth-child(odd) {
  @apply border-t border-mono-10 t-body-2-medium bg-white;
}

.ec-table-report tbody tr:hover {
  @apply bg-brand-l-3;
}

.ec-table-report td,
.ec-table-report th {
  @apply px-4 py-2 text-left;
}

.ec-table-report td {
  @apply border-l border-mono-10;
}

.ec-table-report thead th, .ec-table tbody td {
  @apply border-l border-mono-10
}

.ec-table-report thead th div {
  @apply flex items-center space-x-2;
}

/*END ec-table-report*/

.ejecution {
  @apply rounded-lg flex items-center space-x-1 p-2 border border-mono-30 drop-shadow-lg bg-white-p;
}

.list-ejecutions {
  @apply right-0 top-12 flex flex-col absolute overflow-y-auto rounded-lg space-y-2 p-4 drop-shadow-lg border border-mono-30 bg-white-p;
}
